<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center" style="padding-top: 20px;">
      <div class="container box" style="margin-top: 10px; padding-left: 0; padding-right: 0;">
        <div class="row">
          <div class="col-12" style="text-align: center;">
            <i>Username: admin ; Password: admin</i>
            <form (ngSubmit)="onSubmit()" class="form-signin">
              <h2 class="form-signin-heading">Please sign in</h2>

              <i>{{ message }}<br /></i>

              <label for="username" class="sr-only">Username</label>
              <input type="text" [(ngModel)]="username" name="username" id="username" class="form-control" placeholder="Username" required autofocus>

              <label for="password" class="sr-only">Password</label>
              <input type="password" [(ngModel)]="password" id="password" name="password" class="form-control" placeholder="Password" required>

              <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
